header{
	margin-top: 15%;
}
ul{
	list-style: none;
	right: 0;
 
}
li{
	float: left;
	color: white;
	padding: 2px;
	list-style: none;
	margin-left: 200px;
	margin-top: 4%;
	}
a{
	text-decoration:none; 
	color: black;
	font-size: 20px;
}
.imgarchitect{
	width: 100%;
	margin-top: 3%;
}
.secciondos{
	background-image: url(../img/architect.jpg);
	height: 500px;
	margin-top: 75px;
}
.br{
	color: white;
	text-align: center;
	font-size: 45px;
	margin-top:-250px;
	margin-right: 15%;
}
.textarchitect{
	margin-top: -40px;
	margin-left: 450%;
	color: white;
	font-size: 25px;
}
.projects{
	margin-top:25%;
	margin-bottom: 2%;
	margin-left: 4%;
}
.imagenes{
	margin-top: 3%;
}
#casa1{
	background-image: url(../img/house5.jpg);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	height: 200px;
	width: 280px;
	margin-left: 5%;
}
#casa2{
	background-image: url(../img/house2.jpg);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	height: 200px;
	width: 280px;
}
#casa3{
	background-image: url(../img/house3.jpg);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	height: 200px;
	width: 280px;
}
#casa4{
	background-image: url(../img/house4.jpg);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	height: 200px;
	width: 280px;
}
.hruno{
	margin-top: 0;
}

